@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

  body{
    -ms-overflow-style: none;
    }
   ::-webkit-scrollbar {
     display: none;
   }
    
   
   .section-common {
    width : 100%;
    height : 100%;
    display:flex;
    /* justify-content : center;
    align-items:center; */
    font-size:36px;
  }

  .section-area1 {
    background-color : rgb(255, 255, 255);
    background-image: url('../../../images/stock_graph.png');
    animation: 1.3s linear 0s 1 normal forwards running zoom-in;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
 
  .man_img {
    background-image: url('../../../images/character.png');
    animation: 2.5s linear 0s 1 normal forwards running go-right;
    /* width: 10%;
    height: 30%;
    position: fixed;
    right: 14%;
    top: 40%; */
  }

  .section-area2 {
    background-color : rgb(255, 255, 255);
    background-image: url('../../../images/landingpage_2.png');
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
  }

  .search_bar {
    background-image: url('../../../images/search_bar.png');
    width: 630px;
    height: 120px;
    top: 50%;
    left: 26%;
    position: absolute;
  }

  .section-area3 {
    background-color : rgb(255, 255, 255);
    background-image: url('../../../images/landingpage_3.png');
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
  }

  .kospi_img {
    width: 153px;
    height: 50px;
    margin-top: 64px;
    margin-left: 25%;
    animation:kos 1s ease-in Infinite Alternate;
  }

  .kosdaq_img {
    width: 217px;
    height: 50px;
    margin-top: 65px;
    margin-left: 7%;
    animation:kos 1s ease-in Infinite Alternate;
  }

  .krx_img {
    width: 109px;
    height: 50px;
    margin-top: 65px;
    margin-left: 7%;
    animation:kos 1s ease-in Infinite Alternate;
  }

  .section-area4 {
    background-color : rgb(255, 255, 255);
    background-image: url('../../../images/landingpage_4.png');
    background-size: cover;
    background-position: 20% 50%;
    position: relative;
  }
  .newspaper {
    animation: spin-news 5s linear;
    animation-iteration-count: infinite;
    background-image: url('../../../images/newspaper_img.png');
    width: 400px;
    height: 500px;
    background-size: 400px 500px;
    top: 14%;
    left: 58%;
    position: absolute;
  }
  .section-area5 {
    background-color : rgb(255, 255, 255);
    background-image: url('../../../images/landingpage_5.png');
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
  }
  .postDetail {
    background-image: url('../../../images/post.png');
    width: 630px;
    height: 570px;
    top: 10%;
    left: 5%;
    position: absolute;
  }

  .like_img {
    animation: like 5s linear;
    animation-iteration-count: infinite;
    background-image: url('../../../images/like.png');
    width: 60px;
    height: 44px;
    top: 10.5%;
    left: 71%;
    position: absolute;
  }
  
  .section-area6 {
    background-color : rgb(0, 88, 202);
    position: relative;
  }
    
   .slide-navigation button:nth-child(1) {
    display: none;
  }
  
  .slide-navigation button:nth-last-child(1) {
    display: none;
  }

  .slide-navigation button {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 5px;
    height: 15px;
    margin: 10px 100px;
    font-size: 0px;
    cursor: pointer;
  }
  
  .slide-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 30%;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .slide-navigation button:disabled {
    background-color: rgb(126, 121, 121);
    border: 1px solid white;
  }
  
  .section-area1 h1 {
    font-family: 'Roboto', serif;
    color: black;
    font-weight: 800;
    font-size: 60px;  
    margin: 80px 0 0 10%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 370px;
    height: 70px;
    animation: type1 1.5s steps(70,end) forwards;
  } 
  .section-area2 h1 {
    color: black;
    font-weight: 600;
    font-size: 50px;  
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 440px;
    height: 70px;
    animation: type2 2.8s steps(40,end) forwards;
    margin-top: 4%;
    margin-left: 28%;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  } 
  .section-area5 h1 {
    color: black;
    font-weight: 400;
    font-size: 20px;  
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 600px;
    height: 33px;
    animation: type3 9s steps(100,end) forwards;
    margin-top: 79%;
    margin-left: 3%;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  } 
  
  @keyframes type1 {
    0% {
      width: 0;
    }
    1%, 99%{
      border-right: 1px solid black;
    }
    100%{
      border-right: none;
    }
  }

  @keyframes type2 {
    0% {
      width: 0;
    }
    1%, 50%{
      border-right: 1px solid black;
    }
    51%, 99%{
      border-right: none;
    }
    100%{
      border-right: none;
    }
  }

  @keyframes type3 {
    0% {
      width: 0;
    }
    1%, 61%{
      border-right: 1px solid black;
    }
    62%, 99%{
      border-right: none;
    }
    100%{
      border-right: none;
    }
  }
  

  @keyframes go-right{
    0%{
      width: 100px;
      height: 200px;
      margin-top:8%;
      transform: translateX(-50%);
    }
    1%,30%{
      /* width: 10%;
      height: 10%; */
      margin-top:8%;
      transform: translateX(-30%);
    }
    70%{
      width: 300px;
      height: 500px;
      margin-top:10%;
      transform: translateX(40%);
    }
    100%{
      width: 400px;
      height: 600px;
      margin-top:10%;
      transform: translateX(50%);
    }
  }
  
  @keyframes zoom-in{
    0%{
      transform: scale(0.6);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes kos {
    0% {
    }
    to {
      height:64px
    } 
  }

  @keyframes spin-news {
    0%{
      transform: scale(0);
    }
    10%{
      transform: scale(0) rotate(0);
    }
    30%{
      transform: scale(1) rotate(2turn);
    }
    80%{
      transform: scale(1.2) rotate(2turn);
      opacity: 1;
    }
    100%{
      transform: scale(1.3) rotate(2turn);
      opacity: 0;
    }
  }

  @keyframes like {
    0%,24%{
      transform: scale(0);
    }
    25%{
      transform: scale(1);
    }
    80%{
      transform: scale(1.1);
      opacity: 1;
    }
    100%{
      transform: scale(1.2);
      opacity: 0;
    }
  }
